{% extends "base/layout.twig.html" %}

{% block content %}

<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card card-body bg-light mt-5">
            <h2>Neue Konfiguration</h2>
            <p>Wählen Sie bitte die entsprechenden Optionen</p>

            <form action="{{ urlroot }}/Config/add" method="post">


                <div class="form-group">
                    <label for="name">Name: <sup>*</sup></label>
                    {% if data.name_err is empty %}
                    <input class="form-control form-control-lg" name="name" required type="text"
                           value="{{ data.name }}">
                    {% else %}
                    <input class="form-control form-control-lg is-invalid" name="name" required
                           type="text" value="{{ data.name }}">
                    <span class="text-danger"> {{ data.name_err }}</span>
                    {% endif %}
                </div>


                <div class="form-group">
                    <label for="hosts">Hosts: <sup>*</sup></label>
                    {% if data.hosts_err is empty %}
                    <input class="form-control form-control-lg" name="hosts" required type="text"
                           value="{{ data.hosts }}">
                    {% else %}
                    <input class="form-control form-control-lg is-invalid" name="hosts" required
                           type="text" value="{{ data.hosts }}">
                    <span class="text-danger"> {{ data.hosts_err }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="commandvalue">Commandvalue: <sup>*</sup></label>
                    {% if data.commandvalue_err is empty %}
                    <input class="form-control form-control-lg" name="commandvalue" required
                           type="text" value="{{ data.commandvalue }}">
                    {% else %}
                    <input class="form-control form-control-lg is-invalid" name="commandvalue" required
                           type="text" value="{{ data.commandvalue }}">
                    <span class="text-danger"> {{ data.commandvalue_err }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="commandid">Commandauswählen: <sup>*</sup></label>
                    {% if data.commandid_err is empty %}
                    <select class="custom-select my-1 mr-sm-2" id="commandid" name="commandid" required>
                        <option value="">Default</option>
                        {% for command in commands %}
                        {% if data.commandid == command.id and command.enable != false %}
                        <option selected value="{{ command.id }}">{{ command.name }}</option>
                        {% elseif command.enable != false %}
                        <option value="{{ command.id }}">{{ command.name }}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                    {% else %}
                    <select class="custom-select my-1 mr-sm-2 is-invalid" id="commandid" name="commandid" required>
                        <option value="">Default</option>
                        {% for command in commands %}
                        {% if data.commandid == command.id and command.enable != false %}
                        <option selected value="{{ command.id }}">{{ command.name }}</option>
                        {% elseif command.enable != false %}
                        <option value="{{ command.id }}">{{ command.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <span class="text-danger"> {{ data.commandid_err }}</span>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col">
                        <input class="btn btn-success btn-block" type="submit" value="Konfiguration speichern">
                    </div>
                    <div class="col">
                        <a class="btn btn-primary pull-right" href="{{ urlroot }}/Config" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}